<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>130475958552-moo4vt243haui8kjr0sc6qbvntdc5vuu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.130475958552-moo4vt243haui8kjr0sc6qbvntdc5vuu</string>
	<key>API_KEY</key>
	<string>AIzaSyAUsTPw5UhdWwOxDxarkfmPz4Hmnp4sYqU</string>
	<key>GCM_SENDER_ID</key>
	<string>130475958552</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.vector</string>
	<key>PROJECT_ID</key>
	<string>vector-app-cad6c</string>
	<key>STORAGE_BUCKET</key>
	<string>vector-app-cad6c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:130475958552:ios:6c75457a5dac298da07e6d</string>
</dict>
</plist>